﻿@model Alpha.User.Model.Paitent.PaitentProfile

<div id="info">

</div>


<form class="form-horizontal" action="/Profile/Edit/" method="post">
    @Html.HiddenFor(i => Model.Id)
    @Html.HiddenFor(i => Model.UserId)
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(i => Model.Name, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Age in Years</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(i => Model.Age, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Weight in Kg</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(i => Model.Weight, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label for="inputExperience" class="col-sm-2 control-label">Height In cm</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(i => Model.Height, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    @*<div class="form-group">
        <label for="inputSkills" class="col-sm-2 control-label">Days Avlable</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(i => Model.Avaialble, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>*@
    @*<div class="form-group">
        <label for="inputSkills" class="col-sm-2 control-label">Time Avlable</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(i => Model.TimeAvlble, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>*@

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">Save</button>
        </div>
    </div>
</form>

@if (string.IsNullOrEmpty(Model.Name))
{
    <script>
    $(function () {
        var x = $(location).attr('hash');
        if (x === "#Settings") {
            $(x).trigger("click");
            $("#info").addClass("alert alert-info");
            $("#info").html("Please Complete your Profile!");
        }
    })
    </script>
}
