﻿@model IEnumerable<Alpha.User.Model.Paitent.PaitentActivty>


<ul class="timeline timeline-inverse">
    @foreach (var item in Model)
    {
        <li>
            <i class="fa fa-check bg-blue"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> @($"{item.On: dd-MMM-yyyy hh:mm}")</span>
                <h3 class="timeline-header"><a href="#"></a> @item.Event</h3>
                
            </div>
        </li>
    }

    </ul>