﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/skins/skin-red-light.css" rel="stylesheet" />
    
    <link href="~/Scripts/plugins/datepicker/datepicker3.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.0.0.min.js"></script>*@
    <script src="~/Scripts/plugins/jQuery/jquery-2.2.3.min.js"></script>

</head>
<body class="hold-transition skin-red-light layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Medic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
                </nav>
            </header>
        <section class="content">
            <div class="container body-content">
                @RenderBody()
                @*<iframe src="https://doctor.medic.com/home/docrtc"></iframe>*@
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>
            </section>
</div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="https://doctor.medic.com/signalr/hubs/"></script>

    <script>
        $.connection.hub.url = 'https://doctor.medic.com/signalr';
        var signal = $.connection.webrtchub;
        $.connection.hub.start({ transport: ['longPolling'] }).done(function () {
            ready = true;
           
            signal.server.getConnectedUsers().done(function (users) {
                $.each(users, function (i, username) {
                    UserOnline.push(username);

                });
                insertUsers();
            });

        });
    </script>

</body>
</html>
