﻿@{
    ViewBag.Title = "WebRTC Video Caller";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WebRTC Video Caller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>

<body>
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-8">
                <h4></h4>
                <video autoplay id="removeVideo" muted="false" class="img-responsive embed-responsive-4by3"></video>
            </div>
            <div class="col-lg-4">
                <h4>Me</h4>
                <video autoplay id="localVideo" muted="true" class="img-responsive embed-responsive-4by3"></video>
            </div>

        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
    <script src="~/Scripts/adapter.js"></script>
   
    <script src="https://doctor.medic.com/signalr/hubs/"></script>
    <script type="text/javascript">
        var localVideo = document.getElementById("localVideo");
        var remoteVideo = document.getElementById("removeVideo");
        var name = "Callee"; 
        $.connection.hub.url = 'https://doctor.medic.com/signalr';
        var signal = $.connection.webrtchub;
        var myHub;
        var ready = false;
        var isChrome = !!navigator.webkitGetUserMedia;
        var mediaConstraints = { "audio": true, "video": true };
        var STUN = { url: isChrome ? 'stun:stun.l.google.com:19302' : 'stun:23.21.150.121' };
        var iceServers = { iceServers: [STUN] };
        var sdpConstraints = {
            'mandatory': {
                'OfferToReceiveAudio': true,
                'OfferToReceiveVideo': true
            }
        };
        var DtlsSrtpKeyAgreement = { DtlsSrtpKeyAgreement: true };
        var optional = { optional: [DtlsSrtpKeyAgreement] };
        var connection = new RTCPeerConnection(iceServers, optional);
        signal.client.broadcastMessage = function (from, message) {
            console.log("from " + from + " name " + name);
            if (from != name) {
                console.log("Received message" + message);
                remoteSDP = new RTCSessionDescription(JSON.parse(message));
                connection.setRemoteDescription(remoteSDP, function () {
                    connection.createAnswer(getSDP, function (e) {
                        console.log("Answer failed");
                    }, sdpConstraints);
                }, function (e) {
                    console.log("remote sdp failed" + e);
                });
            }
        }

        connection.onaddstream = function (evt) {
            console.log("got remote stream");
            attachMediaStream(remoteVideo, evt.stream);
        };

        var OnICE= function (event) {
            var candidate = event.candidate;
            if (candidate === null) {
                send_SDP();
            }
        };

        function send_SDP() {
            sendMessage(JSON.stringify(connection.localDescription));
        }

        var getSDP = function (sdp) {
            console.log("get sdp");
            connection.setLocalDescription(sdp);
        }

        function gotLocalStream(stream) {
            console.log("get local");
            attachMediaStream(localVideo, stream);
            connection.addStream(stream);
            connection.onicecandidate = OnICE;
        }
        $.connection.hub.start({ transport: ['longPolling'] }).done(function () {
            console.log("hub started");
            ready = true;
          //  sendMessage(test)
        });

        var sendMessage = function (message) {
            console.log("send")
            if (!ready)
                setTimeout(sendMessage, 100, message);
            else
                signal.server.send(name, message);
        }
        getUserMedia(mediaConstraints, gotLocalStream, function () { alert("Could not get media"); });
    </script>
</body>
</html>
